text formatting

In [47]:
print(f"Twinkle, twinkle, little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star, \n \t How I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	 How I wonder what you are

version check

In [48]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

various ways of printing the current datetime

In [49]:
import time, datetime, calendar
print(time.strftime("%Y-%m-%d %H:%M:%S"))
print(datetime.datetime.now())
print(calendar.month(2024, 9))

2024-09-29 07:11:54
2024-09-29 07:11:54.383144
   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

Calculating circle area with input radius

In [50]:
radius= int(input("Input radius in cms"))

area = 3.14 * radius**2
print("Area of the circle", area)

Input radius in cms20
Area of the circle 1256.0

Calculating circle area with input radius

In [51]:
radius= int(input("Input radius"))
unit = input("Input unit")
unit = unit.lower()
if (unit=="cm"):
  area = 3.14 * radius**2
  print(f"Area of the circle{area} {unit}^2")
elif (unit=="m"):
  area = 3.14 * radius**2
  print(f"Area of the circle{area} {unit}^2")
elif (unit=="ft"):
  area = 3.14 * radius**2
  print(f"Area of the circle{area} {unit}^2")

Input radius22
Input unitFT
Area of the circle1519.76 ft^2

Reversing tyhe input satatement (in this case, full name)

In [52]:
def reverse_string(s):
  return s[::-1]

string_to_reverse = input("Enter your full name:")
reversed_string = reverse_string(string_to_reverse)
print(f"Reversed name: {reversed_string}")

Enter your full name:Vicktor Krum
Reversed name: murK rotkciV

Convert input number array into list and tuple

In [53]:
list1 = []
list_items = input("Enter items:")
list1.append(list_items)
print("list1",list1)

#list_items = input("Enter items:")
#list1.extend([list_items])
#print(list1)

tuple1 = tuple(list1)
print("Tuple1 without stripping the trailing comma:",tuple1)

Enter items:2,3,4
list1 ['2,3,4']
Tuple1 without stripping the trailing comma: ('2,3,4',)

In [54]:
list2 = list_items.split(",")
list2= [int(num) for num in list2]
print("list2:",list2)
tuple2 = tuple(list2)
print("Tuple2 after stripping the trailing comma:",tuple2)

list2: [2, 3, 4]
Tuple2 after stripping the trailing comma: (2, 3, 4)

File type detection by file name

In [55]:
IP = input("Write the file name")
list1 = IP.split(".")
print(list1)
print("file type:",list1[-1])

Write the file nameV2_1.ipynb
['V2_1', 'ipynb']
file type: ipynb

Output the first and last element in a list

In [56]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

n** nn ** nnn

In [57]:
integer = int(input("Enter an integer"))
new_integer = integer+11*integer+111*integer
print(new_integer)

Enter an integer2
246

Input an array and process it to output in a date format

In [58]:
dt = input("Any date in (DD,MM,YYYY) format")
list1 = dt.replace(",", "/")
print("Date", list1)

Any date in (DD,MM,YYYY) format2024-09-29
Date 2024-09-29

In [59]:
dt2 = input("Any date in %Y-%m-%d")

Any date in %Y-%m-%d2024-09-29

In [60]:
import datetime
try:
  date_obj = datetime.datetime.strptime(dt2, "%Y-%m-%d").date()
  list1 = date_obj.strftime("%d/%m/%Y")
  print("Date:", list1)
except ValueError:
  print("Not a date")

Date: 29/09/2024